@using Shop.MVC.ModelViews
@*
*@
@{
}

@model ProductWithFeedbackAndImageModelView

<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <img src="@Model.ImageUrl" class="img-fluid"></img>
        </div>
        <div class="col">
            <div class="m-5 bg-light h-15 w-50 align-content-center mx-auto d-block">
                <h1 class="text-black text-center">@Model.Product.Name</h1>
                <h2 class="text-black text-center">@Model.Product.Price</h2>
                <form asp-action="ProductToOrder" method="post">
                    <input type="hidden" asp-for="@Model.Product.Id"/>
                    <button type="submit" class="btn btn-outline-success mx-auto d-block w-75">Купить</button>
                </form>
            </div>
            <div class="h-75 m-5 w-100 mx-auto d-block">
                <div class="text-black text-wrap">@Model.Product.Description</div>
            </div>
        </div>
    </div>
</div>

<div class="my-5">
    <h2 class="text-black ">Комментарии:</h2>
</div>

<div>
    <form asp-action="CreateFeedback" method="post">
        <input asp-for="@Model.Feedback.NickName" id="NickName" class="form-control m-1" placeholder="Введите ваш никнейм"/>
        <textarea asp-for="@Model.Feedback.Comment" class="form-control m-1" id="Comment" placeholder="Введите ваш комментарий"></textarea>
        <input asp-for="Feedback.ProductId" type="hidden" value="@Model.Product.Id"/>
        <button type="submit" class="form-control m-1">Оставить комментарий</button>
    </form>
</div>

<div class="container my-5">
    <div class="row">
        @foreach(var item in Model.Feedbacks)
        {
            <div class="card m-2">
                <div class="row">
                    <div class="col col-1">
                        <img class="card-img" src="/img/noimg.png"></img>
                    </div>
                    <div class="col col-11">
                        <h4>@item.NickName</h4>
                        <h5>@item.Comment</h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
